{% extends './f_base.html' %}

{% load static %}

{% block content %}
<!-- Header Start -->
<div class="container py-5">
    <div class="row align-item-center justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <h3 class="text-center text-info py-3">Login Admin</h3>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <form action="{% url 'shipment:login' %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="username" class="form-label fw-bold text-dark">Username:</label>
                            <input name="username" type="text" class="form-control" id="username" placeholder="Enter Username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold text-dark">Password:</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                        </div>
                        <input type="submit" class="btn btn-primary fw-bold w-100" value="Login" >
                          
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



{% endblock %}