<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment Email</title>

    <style>
        .tcode{
            color: blue;
        }
    </style>
</head>
<body>
    <p>Dear {{name|title}}</p>
    <p>We are pleased to inform you that your package has been dispatched. 
    Below is our website and your shipment tracking code</p>
    <p>Website: <small>https://www.avahtrans.com</small></p>
    <p>Tracking Code: <span class="tcode">{{tracking_code}}</span></p>
    <p>You can track your shipment status pending the arrival/delivery.</p>
    <p>If you have any questions please do not hesitate to contact us.<br>Thank you for your patients</p>
    <p>Sincerly, <br>Avahtrans &#174;</p>
</body>
</html>