<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment Email</title>

    <style>
        .tcode{
            color: blue;
        }
    </style>
</head>
<body>
    <p>Dear {{name|title}}</p>
    <p>Your shipment is currently in transit in <strong>{{location}}</strong> </p>
    <p>We assure you of a timely delivery</p>
    <p>Sincerly, <br>Avahtrans &#174;</p>
    
</body>
</html>